<a href="https://colab.research.google.com/github/Bhavesh-Kilaru/ReinForcement-Learning-ML-Course/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow_datasets as tfds
import tensorflow as tf

In [ ]:
tfds.list_builders()

In [12]:
ds, info = tfds.load('sentiment140', split='train', with_info=True)

In [13]:
tfds.as_dataframe(ds.take(4), info)

,date,polarity,query,text,user
0,Mon Jun 01 18:08:26 PDT 2009,4,NO_QUERY,i'm 10x cooler than all of you!,katie4593
1,Mon Jun 01 23:55:43 PDT 2009,0,NO_QUERY,O.kk? Thats weird I cant stop following people on twitter... I have tons of people to unfollow,migaruler
2,Mon May 04 06:08:51 PDT 2009,4,NO_QUERY,what a beautiful day not to got to my first class,ocean_waves301
3,Sun May 31 18:42:57 PDT 2009,4,NO_QUERY,".@HildyGottlieb &amp; I was just saying to Maha'al yesterday, everything we ever needed to know was in Beatles' lyrics - you prove my point!",TerraScene

In [15]:
type(ds)

tensorflow.python.data.ops.dataset_ops.PrefetchDataset

In [17]:
builder = tfds.builder('sentiment140')
info = builder.info
print(info)

tfds.core.DatasetInfo(
    name='sentiment140',
    full_name='sentiment140/1.0.0',
    description="""
    Sentiment140 allows you to discover the sentiment of a brand, product, or topic
    on Twitter.

    The data is a CSV with emoticons removed. Data file format has 6 fields:

    1.  the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)
    2.  the id of the tweet (2087)
    3.  the date of the tweet (Sat May 16 23:58:44 UTC 2009)
    4.  the query (lyx). If there is no query, then this value is NO_QUERY.
    5.  the user that tweeted (robotickilldozr)
    6.  the text of the tweet (Lyx is cool)

    For more information, refer to the paper Twitter Sentiment Classification with
    Distant Supervision at
    https://cs.stanford.edu/people/alecmgo/papers/TwitterDistantSupervision09.pdf
    """,
    homepage='http://help.sentiment140.com/home',
    data_path='/root/tensorflow_datasets/sentiment140/1.0.0',
    file_format=tfrecord,
    download_size=77.59 MiB,
    dataset_size=305.13 MiB,
    features=FeaturesDict({
        'date': Text(shape=(), dtype=string),
        'polarity': int32,
        'query': Text(shape=(), dtype=string),
        'text': Text(shape=(), dtype=string),
        'user': Text(shape=(), dtype=string),
    }),
    supervised_keys=('text', 'polarity'),
    disable_shuffling=False,
    splits={
        'test': <SplitInfo num_examples=498, num_shards=1>,
        'train': <SplitInfo num_examples=1600000, num_shards=4>,
    },
    citation="""@ONLINE {Sentiment140,
        author = "Go, Alec and Bhayani, Richa and Huang, Lei",
        title  = "Twitter Sentiment Classification using Distant Supervision",
        year   = "2009",
        url    = "http://help.sentiment140.com/home"
    }""",
)

In [19]:
!git clone https://github.com/Bhavesh-Kilaru/Kilaru_OUDSA5900.git

Cloning into 'Kilaru_OUDSA5900'...
fatal: could not read Username for 'https://github.com': No such device or address

In [29]:
!cp drive/MyDrive/Practicum/Git_SSH* /root/.ssh

cp: target '/root/.ssh' is not a directory

In [26]:
!ls

drive  sample_data